* {
   box-sizing: border-box;
}

body {
   font-size: 1.25rem;
   line-height: 150%;
   /* text-shadow: 0 2px 2px #b6701e; */
}

section {
   color: #fff;
}

article {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: 5.5rem;
}

.container {
   display: table;
   width: 100%;
}

.logo {
   width: 60px;
   position: static;
   margin: 1.8rem 0 0 5.3rem;
}

/* ---- Swal Modal ---- */
.swal2-popup {
   padding: 3rem;
   width: 28em;
}
.swal2-header {
   font-size: 0.95rem;
}
.swal2-popup .swal2-styled.swal2-confirm {
   background-color: #00a876;
   border-radius: 25px;
}
/* ---- Left & Right Split ---- */
.left-half {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;   
   background-color: #151a22;
   position: absolute;
   left: 0px;
   width: 55%;
}

.right-half {
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;   
   background-color: #00a876;
   position: absolute;
   right: 0px;
   width: 45%;
}

.welcome-section,
.welcome-header,
.welcome-subtitle,
.welcome-subtext,
.login-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
}

.welcome-header {
   font-size: 2.6rem;
   font-weight: lighter;
   letter-spacing: 2px;
}

.welcome-subtitle {
   color: rgb(141, 140, 140);
   margin-top: 10px;
   font-size: 1.5rem;
   line-height: 1.8rem;
}

.welcome-subtext {
   color: rgb(141, 140, 140);
   margin: 2rem 0 2rem 0;
   font-size: 1rem;
   line-height: 1.7rem;
}

.form-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;  
   font-size: 1.5rem;
   color: rgba(255, 255, 255, 0.897);
   margin-bottom: 2rem;
   padding-top: 4rem;
}

.form-control {
   margin-bottom: 10px;
}

.login-signup-btn {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: .8rem;
   line-height: initial;
   background-color: #fff;
   color: #00a876;
   border-color: #00976a;
   padding: 11px 32px;
   margin-top: 5px;
   border-radius: 25px;
}

.switch-btn {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: .8rem;
   line-height: initial;
   background-color: #00a876;
   border-color: #00a876;
   padding: 11px 30px;
   border-radius: 25px;
}

/* ---- Smartphones (portrait & landscape) ---- */
@media (min-width: 320px) and (max-width: 414px) {
   .logo {
      width: 40px;
      margin: 1.5rem 0 0 1.6rem;
   }
   .swal2-container {
      padding: 30px;
   }
   .swal2-popup {
      padding: 1.5rem;
   }
   .swal2-header {
      font-size: 0.75rem;
   }
   .swal2-popup .swal2-styled.swal2-confirm{
      padding: .4em 1.5em;
      border-radius: 25px;
      margin-top: 0;
   }
   article {
      padding: 1.7rem;
   }
   .welcome-header {
      font-size: 1.8rem;
   }
   .welcome-subtitle {
      font-size: 1.2rem;
      line-height: 1.4rem;
   }
   .welcome-subtext {
      font-size: 0.8rem;
      line-height: 1.2rem;
   }
   .switch-btn {
      padding: 9px 20px;
      letter-spacing: 2px;
      font-size: .6rem;
   }
   .login-signup-btn {
      padding: 9px 20px;
      letter-spacing: 2px;
      font-size: .65rem;
   }

   .form-header {
      font-size: 1.2rem;
   }
   .form-control {
      padding: 0.375rem 1rem;
      font-size: 0.7rem;
      margin-bottom: 0;
   }
}

/* ---- iPads (portrait & lanscape) ---- */
@media (min-width : 768px) and (max-width : 1024px) { 
   .logo {
      width: 60px;
      margin: 2.7rem 0 0 4rem;
   }
   article {
      padding: 4rem;
   }
}