* {
   box-sizing: border-box;
}

body {
   font-size: 1.25rem;
   line-height: 150%;
   /* text-shadow: 0 2px 2px #b6701e; */
}

section {
   color: #fff;
}

div {
   height: 100%;
}

article {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: 5.5rem;
}

.container {
   display: table;
   width: 100%;
}

.char1 {
   font-family: 'Charm', cursive;
   position: relative;
   top: 7%;
   left: 14%;
   font-weight: normal;
   color: rgb(155, 154, 154);
}

.char2 {
   font-family: 'Charm', cursive;
   position: relative;
   top: 1.7%;
   left: 17.2%;
   font-weight: normal;
   color: rgb(155, 154, 154);
}

.left-half {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;   
   background-color: #151a22;
   position: absolute;
   left: 0px;
   width: 55%;
}

.right-half {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;   
   background-color: #00a876;
   position: absolute;
   right: 0px;
   width: 45%;
}

.welcome-section,
.welcome-header,
.welcome-subtitle,
.welcome-subtext,
.login-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
}

.welcome-header {
   font-size: 2.6rem;
   font-weight: lighter;
   letter-spacing: 2px;
}

.welcome-subtitle {
   color: rgb(141, 140, 140);
   margin-top: 10px;
   font-size: 1.5rem;
}

.welcome-subtext {
   color: rgb(141, 140, 140);
   margin: 2rem 0 2rem 0;
   font-size: 1rem;
   line-height: 1.7rem;
}

.form-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;  
   font-size: 1.5rem;
   color: rgba(255, 255, 255, 0.897);
   margin-bottom: 2rem;
   padding-top: 4rem;
}

.form-control {
   margin-bottom: 10px;
}

.login-signup-btn {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: .8rem;
   line-height: initial;
   background-color: #fff;
   color: #00a876;
   border-color: #00976a;
   padding: 11px 32px;
   margin-top: 5px;
   border-radius: 25px;
}

.switch-btn {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: .8rem;
   line-height: initial;
   background-color: #00a876;
   border-color: #00a876;
   padding: 11px 30px;
   border-radius: 25px;
}