* {
   box-sizing: border-box;
}

body {
   font-size: 1.25rem;
   line-height: 150%;
}

html,
section {
   font-family: 'Open Sans', sans-serif;
   background-color: #151a22;
} 

/* ---- Navbar ---- */
section.navbar-section {
   width: 100%;
   height: 50px;
}

span.text-secondary {
   position: absolute;
   top: 40%;
   right: 5%;
}

.console-container {
   width: 100%;
}

/* ---- Med input form ---- */
.meds-form-container {
   padding: 5.5rem;
}

.meds-form-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
   margin-bottom: 2rem;
}

.form {
   width: 50%;
}

.meds-submit-btn {
   background-color: #00a876;
   border-color: #00a876;
   color: black;
   font-weight: bold;
   text-transform: uppercase;
   line-height: normal;
   letter-spacing: 2px;
   font-size: .8rem;
   padding: 8px 20px;
   border-radius: 25px;
}

/* ---- User medications ---- */
.user-meds-container {
   padding: 1rem 5.5rem;
}

.list-group-item-heading,
.list-group-item-text,
.list-group-item {
   list-style-type: none;
   color: black;
   background-color: white;
   margin: 0;
}

.list-group-item-heading {
   padding: 1.5rem 2rem .5rem 1.5rem;
   font-size: 1.7rem;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.list-group-item-text {
   padding: 0 1.5rem 1.2rem;
   font-size: 1.2rem;
}

.list-group-item {
   display: inline-flex;
   padding: 1.2rem 1.5rem;
}

.list-group-item:last-child {
   border-bottom-right-radius: 7px;
   border-bottom-left-radius: 7px;
}

.med-list-item {
   padding-right: 3rem;
   color: #00a876;
   font-weight: bold;
   letter-spacing: 1px;
}

/* ---- Med interactions  */
.interaction-container {
   padding: 1rem 5.5rem;
}