/*  
COLORS
#D8DBE2
#A9BCD0
#58A4B0
#373F51
#1B1B1E
*/

* {
   box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
}

body {
   font-size: 1.25rem;
   line-height: 150%;
}

html,
section {
   font-family: 'Open Sans', sans-serif;
} 

/*  SCROLLBAR  */
/*  width  */
body::-webkit-scrollbar {
   width: 15px;
  }
  /*  handle  */
  body::-webkit-scrollbar-thumb {
   background-color: #58A4B0;
  }
  /*  track  */
  body::-webkit-scrollbar-track {
   background-color: #1B1B1E;
  }
  /*  top and bottom buttons  */
  body::-webkit-scrollbar-button {
   display: none;
  }

/* ---- Navbar ---- */
#nav-container {
   height: 120px;
}

.appLogo {
   width: 60px;
   position: static;
   margin: .8rem 0 0 1.8rem;
}

ul {
   list-style-type: none;
}

.nav-logout a {
   position: absolute;
   text-align: center;
   top: 20%;
   right: 6%;
   font-size: 1.5rem;
}

/* ---- Content ---- */
.console-container {
   width: 100%;
}

.med-console-row {
   display: inline-flex;
   flex-direction: row-reverse;
   padding: 0 5.5rem 1rem 5.5rem;
   margin: 3.5rem 0 0 0;
}

.right-half_med-input {
   width: 40%;
}

.left-half_current-meds {
   width: 60%;
}

/* ---- Med input form ---- */
.meds-form-container {
   padding-left: 1.5rem;
}

.meds-form-header {
   font-family: 'Open Sans', sans-serif;
   color: #1B1B1E;
   font-weight: lighter;
   margin-bottom: 2rem;
}

.meds-form-container input{
   background: transparent;
   border: none;
   border-bottom: 2px solid #1B1B1E;
   border-radius: 0px;
   color: #1B1B1E;
   font-weight: bold;
}

.meds-form-container input::placeholder {
   color: #1B1B1E;
}

.meds-form-container input:focus {
   background: transparent;
   border: none;
   border-bottom: 2px solid #1B1B1E;
   color: #1B1B1E;
   box-shadow: none;
}

.meds-submit-btn {
   background-color: #1B1B1E;
   border: 2px solid #1B1B1E;
   color: #58A4B0;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   line-height: normal;
   letter-spacing: 2px;
   font-size: .8rem;
   padding: 8px 20px;
   border-radius: 25px;
}

.meds-submit-btn:hover {
   background: transparent;
   border: 2px solid #1B1B1E;
   color: #1B1B1E;
   transition: 0.3s;
}

/* ---- User medications ---- */
.user-meds-container {
   padding-right: 1.5rem;
}

.user-meds-container .list-group-item-heading,
.user-meds-container .list-group-item-text,
.user-meds-container .list-group-item {
   list-style-type: none;
   color: #1B1B1E;
   background: transparent;
   font-weight: bold;
   margin: 0;
}

.list-group-item-heading {
   font-family: 'Open Sans', sans-serif;
   padding: 1.5rem 2rem .5rem 1.5rem;
   font-size: 1.7rem;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.list-group-item-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 1.15rem;
   font-weight: normal;
   padding: .5rem 0;
   line-height: 1.6rem;
}

.user-meds-container .list-group-item {
   display: inline-flex;
   flex-wrap: wrap;
   padding: 1.2rem 1.5rem;
   line-height: 2.2rem;
   border: none;
   border-top: 1px solid #1B1B1E;
   background: transparent;
}

.list-group-item:last-child {
   border-bottom-right-radius: 7px;
   border-bottom-left-radius: 7px;
}

.med-list-item{
   padding-right: 3rem;
   color: #373F51;
   font-weight: bold;
   letter-spacing: 1px;
}

/* ---- Med interactions ---- */
.interaction-container {
   background-color: #1B1B1E;
   padding: 2rem 5.5rem;
   padding-bottom: 5rem;
   height: 100vh;
}

.interaction-container .list-group-item-heading,
.interaction-container .list-group-item-item,
.interaction-container .list-group-item-item {
   color: #D8DBE2;
   padding-bottom: 1.4rem;
}

.interaction-container .list-group-item {
   display: inline-flex;
   flex-wrap: wrap;
   padding: 1.2rem 1.5rem;
   line-height: 2.2rem;
   border: none;
   border-top: 1px solid #D8DBE2;
   background: transparent;
}

li.interaction-item {
   padding: 1rem 0;
}

/* ---- Med delete button ---- */
.delete-btn {
   cursor: pointer;
   color: #D8DBE2;
}

/* ---- Smartphones (portrait & landscape) ---- */
@media (min-width: 320px) and (max-width: 414px) {
   .appLogo {
      width: 40px;
      margin-left: -1.9rem;
      margin-top: -1.4rem;
   }
   a.text-secondary {
      border: none;
      padding-right: 8px;
   }
   span.text-secondary {
      font-size: 1.1rem;
   }
   .med-console-row {
      display: flex;
      padding: 0 1.7rem;
      margin-top: 0rem;
   } 
   .right-half_med-input {
      width: 100%;
      margin-bottom: 2rem;
   }
   .left-half_current-meds {
      width: 100%;
   }
   .meds-form-container,
   .user-meds-container {
      padding: 0;
   }
   .form-control {
      font-size: .8rem;
   }
   .med-list-item {
      padding-right: 2rem;
   }
   .interaction-container {
      padding: 2rem 1.7rem 3rem;
   }
   .meds-submit-btn {
      margin-top: 4px;
   }
} 

@media (min-width : 415px) and (max-width : 640px) { 
   .med-console-row {
      display: flex;
   } 
   .right-half_med-input {
      width: 100%;
      margin-bottom: 2rem;
   }
   .left-half_current-meds {
      width: 100%;
   }
   .meds-form-container,
   .user-meds-container {
      padding: 0;
   }
}

@media (min-width : 641px) and (max-width : 767px) { 
   .meds-form-container {
      padding-left: .8rem;
   }
}

/* ---- iPads (portrait & lanscape) ---- */
@media (min-width : 768px) and (max-width : 1024px) { 
   #nav-container {
      height: 150px;
   }
   .appLogo {
      margin-left: .5rem;
   }
   span.text-secondary {
      font-size: 1.25rem;
   }
   .med-console-row {
      padding: 0 4rem;
      margin-top: 2rem;
   } 
   .meds-form-container {
      padding-left: 1rem;
   }
   input.form-control {
      margin-bottom: 20px;
   }
   .interaction-container {
      padding: 2.5rem 4rem;
   }
}

@media (min-width : 1025px) and (max-width : 1223px) { 
   a.text-secondary {
      padding-right: 1.7rem;
   }
   span.text-secondary {
      font-size: 1.25rem;
   }
   .meds-form-container {
      padding-left: 1.3rem;
   }
}

/* ---- Desktops and laptops ---- */
@media (min-width : 1224px) { 
   a.text-secondary {
      padding-right: .8rem;
   }
   span.text-secondary {
      font-size: 1.3rem;
   }
   .list-group-item-text {
      font-size: 1.35rem;
   }
}