* {
   box-sizing: border-box;
}

body {
   font-size: 1.25rem;
   line-height: 150%;
}

html,
section {
   font-family: 'Open Sans', sans-serif;
   background-color: #151a22;
} 

/* ---- Navbar ---- */
#nav-container {
   background-color: #151a22;  
   height: 120px;
}

.appLogo {
   width: 60px;
   position: static;
   margin: .8rem 0 0 1.8rem;

}

ul {
   list-style-type: none;
}

a.text-secondary {
   position: absolute;
   text-align: center;
   top: 20%;
   right: 6%;
   font-size: 1.2rem;
}

/* ---- Content ---- */
.console-container {
   width: 100%;
}

.med-console-row {
   display: inline-flex;
   flex-direction: row-reverse;
   padding: 0 5.5rem 1rem 5.5rem;
   margin: 3.5rem 0 0 0;
}

.right-half_med-input {
   width: 40%;
}

.left-half_current-meds {
   width: 60%;
}

/* ---- Med input form ---- */
.meds-form-container {
   padding-left: 2rem;
}

.meds-form-header {
   font-family: 'Open Sans', sans-serif;
   font-weight: lighter;
   margin-bottom: 2rem;
}

.meds-submit-btn {
   background-color: #00a876;
   border-color: #00be85;
   color: white;
   cursor: pointer;
   font-weight: bold;
   text-transform: uppercase;
   line-height: normal;
   letter-spacing: 2px;
   font-size: .8rem;
   padding: 8px 20px;
   border-radius: 25px;
}

/* ---- User medications ---- */
.user-meds-container {
   padding-right: 1.5rem;
}

.list-group-item-heading,
.list-group-item-text,
.list-group-item {
   list-style-type: none;
   color: black;
   background-color: white;
   margin: 0;
}

.list-group-item-heading {
   padding: 1.5rem 2rem .5rem 1.5rem;
   font-size: 1.7rem;
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.list-group-item-text {
   font-size: 1.2rem;
   font-weight: normal;
   padding: .5rem 0;
   line-height: 1.6rem;
}

.list-group-item {
   display: inline-flex;
   flex-wrap: wrap;
   padding: 1.2rem 1.5rem;
   line-height: 2.2rem;
   border-top: 1px solid darkgrey;
}

.list-group-item:last-child {
   border-bottom-right-radius: 7px;
   border-bottom-left-radius: 7px;
}

.med-list-item {
   padding-right: 3rem;
   color: #00a876;
   font-weight: bold;
   letter-spacing: 1px;
}

/* ---- Med interactions ---- */
.interaction-container {
   padding: 2rem 5.5rem;
   padding-bottom: 5rem;
}

.interaction-container>.list-group-item-heading {
   padding-bottom: 1.4rem;
}

li.interaction-item {
   padding: 1rem 0;
}

/* ---- Med delete button ---- */
.delete-btn {
   cursor: pointer;
   color: orangered;
}

/* ---- Smartphones (portrait & landscape) ---- */
@media (min-width: 320px) and (max-width: 414px) {
   .appLogo {
      width: 40px;
      margin-left: -1.9rem;
      margin-top: -1.4rem;
   }
   a.text-secondary {
      border: none;
      padding-right: 8px;
   }
   span.text-secondary {
      font-size: 1.1rem;
   }
   .med-console-row {
      display: flex;
      padding: 0 1.7rem;
      margin-top: 0rem;
   } 
   .right-half_med-input {
      width: 100%;
      margin-bottom: 2rem;
   }
   .left-half_current-meds {
      width: 100%;
   }
   .meds-form-container,
   .user-meds-container {
      padding: 0;
   }
   .form-control {
      font-size: .8rem;
   }
   .med-list-item {
      padding-right: 2rem;
   }
   .interaction-container {
      padding: 2rem 1.7rem 3rem;
   }
   .meds-submit-btn {
      margin-top: 4px;
   }
} 

/* iPads (portrait & lanscape) */
@media (min-width : 768px) and (max-width : 1024px) { 
   #nav-container {
      height: 150px;
   }
   .appLogo {
      margin-left: .5rem;
   }
   span.text-secondary {
      font-size: 1.55rem;
   }
   .med-console-row {
      padding: 0 4rem;
      margin-top: 2rem;
   } 
   input.form-control {
      margin-bottom: 20px;
   }
   .interaction-container {
      padding: 2.5rem 4rem;
   }
}