.footer {
   height: 70px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   color: rgb(131, 131, 131);
   display: inline-flex;
   font-size: .65rem;
   letter-spacing: 1.7px;
   text-transform: uppercase;
}

.footer-appName {
   margin: 0 2.5rem 0 5.5rem;
}

.footer-link a {
   color: rgb(131, 131, 131);
}
