/*  
COLORS
#D8DBE2
#A9BCD0
#58A4B0
#373F51
#1B1B1E
*/

.footer {
   height: 70px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   color: #D8DBE2;
   display: inline-flex;
   font-size: .65rem;
   letter-spacing: 1.7px;
   text-transform: uppercase;
}

.footer-appName {
   margin: 0 2.5rem 0 5.5rem;
}

.footer-link a {
   color: #D8DBE2;
}

/* ---- Smartphones (portrait & landscape) ---- */
@media (min-width: 320px) and (max-width: 414px) {
   .footer {
      padding-top: 1rem;

   }
   .footer-appName {
      margin: 0 1.6rem;
   }
}

/* ---- iPads (portrait & lanscape) ---- */
@media (min-width : 768px) and (max-width : 1024px) { 
   .footer {
      font-size: .75rem;
   }
   .footer-appName {
      margin-left: 4rem;
   }
}

@media (min-width : 1025px) and (max-width : 1223px) { 
   .footer {
      font-size: .75rem;
   }
}

/* ---- Desktops and laptops ---- */
@media (min-width : 1224px) { 
   .footer {
      font-size: .8rem;
   }
}